@model IEnumerable<projekt.Models.FlashcardSet>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top:20px;">FlashcardSets</h1>

<p>
    <a asp-action="Create" class="btn btn-register text-light" style="margin-top:10px">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-login text-light">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-details">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
